# Printing results and passing them to MATLAB

In [1]:
import pandas as pd
import matlab.engine

## Loading the file

In [12]:
file_path = '/Users/dada/Documents/Results/Case1.txt'
with open(file_path, 'r') as file:
    lines = file.readlines()

## Creating the Panda DataFrame

In [13]:
start_index = lines.index(" mean std\n") + 1
end_index = lines.index("r(um) dv/dlnr_mean(um^3/cm^3) dv/dlnr_std(um^3/cm^3)\n")

# Extract the lines for this section
section_lines = lines[start_index:end_index]

# Parse this section into a DataFrame
# Assuming space-separated values here; adjust as needed for your file's format
baseline_data1 = pd.DataFrame([line.split() for line in section_lines])

# Define column names based on your understanding of the data
baseline_data1.columns = ['Parameter', 'Mean', 'Std']

display(baseline_data1.style)

start_index2 = lines.index("r(um) dv/dlnr_mean(um^3/cm^3) dv/dlnr_std(um^3/cm^3)\n") + 1
section_lines2 = lines[start_index2:]
baseline_data2 = pd.DataFrame([line.split() for line in section_lines2])
baseline_data2.columns = ['r(um)','VSD(um^3/cm^3)', 'VSD_std(um^3/cm^3)']

# print(df2)
display(baseline_data2.style)

## Passing data to MATLAB and MATLAB Processing

In [14]:
eng = matlab.engine.start_matlab()

r_um = matlab.double(baseline_data2['r(um)'].astype(float).tolist())
vsd = matlab.double(baseline_data2['VSD(um^3/cm^3)'].astype(float).tolist())

eng.plot(r_um, vsd, nargout=0)
eng.xlabel('r(\microm)')
eng.ylabel('VSD(\microm{^3}/cm^3)')
eng.title('Volume Size Distribution')
eng.grid('on', nargout=0)
eng.show()

Unrecognized function or variable 'show'.

MatlabExecutionError: Unrecognized function or variable 'show'.

Parameter
       Parameter    Mean     Std
0             mR    1.48   0.001
1             mI   0.001  0.0001
2  Vt(um^3/cm^3)  103.16   1.091
3       Reff(um)    0.79   0.013